@font-face {
	font-family: '8bit';
	src: url('../fonts/8bit.TTF'); 
}

body {
    background-color: #333;
    overflow-x: hidden;
}
.container {
    display: flex;
}
.content {
    flex: 1;
}
.sidebar {
    background-color: rgba(0,0,0,.95);
    height: 100%;
    width: 40vw;
    min-width: 200px;
    max-width: 400px;
    position: absolute;
    right: -10000;
    transition: right .44s ease-in-out;
}
.nav {
    display: flex;
    align-items: center;
    color: #ccc;
    height: 5rem;
}
.nav__buffer {
    flex: 1;
}
.nav__search {
    height: 2.5rem;
    border: 0;
    background-color: #888;
    border-radius: 2.5px;
    text-indent: 1rem;
    font-size: 1.5rem;
    outline: none;
    transition: background-color .42s ease-in-out;
}
.nav__search::placeholder {
    color: rgba(0,0,0,.5);
}
.nav__search:focus {
    background-color: #ccc;
}
.nav__link {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    padding: 0 1rem;
}
.nav__link:hover {
    color: #fff;
}
.nav__logo {
    font-family: "8bit";
    font-size: 2rem;
}
.nav__btn {
    background-color: transparent;
    border: 0;
    outline: none;
}
.nav__btn > svg {
    fill: #ccc;
}
.sidebar__summary {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    justify-content: center;
}
.sidebar__summary > .summary__item:first-of-type {
    justify-self: flex-start;
}
.sidebar__summary > .summary__item {
    margin: 10px 0;
}
#main {
    width: 100%;
    height: 100%;
}